# \kchimmad\.ipynb_checkpoints
# \harsha\.ipynb_checkpoints
# \kchimmad\slurm_logs
# \transformers_cache
# \datasets
# \outputs
# \outputs_70B
# \kchimmad\output

.env
\datasets
\scratch
\outputs
\notebooks\graphs
sync.sh
.vscode/
*__pycache__*